<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>needUs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>78F7D58C1F8219CD00E465C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78F7D5A01F8219CE00E465C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78F7D5AB1F8219CE00E465C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
